@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/broadcasts\/style\.scss}line{font-family:\000031}}
* {
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/broadcasts\/style\.scss}line{font-family:\000039}}
a {
  text-decoration: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/broadcasts\/style\.scss}line{font-family:\0000313}}
li {
  list-style: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/broadcasts\/style\.scss}line{font-family:\0000321}}
input::-webkit-datetime-edit-year-field:not([aria-valuenow]),
input::-webkit-datetime-edit-month-field:not([aria-valuenow]),
input::-webkit-datetime-edit-day-field:not([aria-valuenow]) {
  color: transparent; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/broadcasts\/style\.scss}line{font-family:\0000327}}
input::-webkit-datetime-edit {
  color: transparent; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/broadcasts\/style\.scss}line{font-family:\0000331}}
input:focus::-webkit-datetime-edit {
  color: #000 !important; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/broadcasts\/style\.scss}line{font-family:\0000335}}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/broadcasts\/style\.scss}line{font-family:\0000340}}
input[type="date"] {
  -moz-appearance: textfield;
  padding-right: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/broadcasts\/style\.scss}line{font-family:\0000346}}
::-webkit-calendar-picker-indicator {
  color: rgba(0, 0, 0, 0);
  cursor: pointer;
  opacity: 1;
  display: block;
  background: url("calendar_icon.png") no-repeat;
  background-position-y: 5px;
  height: 100%;
  border-width: thin;
  padding-right: 20px; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/broadcasts\/style\.scss}line{font-family:\0000361}}
::-webkit-scrollbar {
  border: 1px solid #b3b3b3;
  height: 13px;
  width: 9px; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/broadcasts\/style\.scss}line{font-family:\0000367}}
::-webkit-scrollbar-thumb {
  background-color: #0066a0;
  height: 13px;
  width: 9px; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/broadcasts\/style\.scss}line{font-family:\0000375}}
header .top-header {
  background: #fff;
  height: 63px;
  padding: 0 60px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/broadcasts\/style\.scss}line{font-family:\0000380}}
  header .top-header .logo-container {
    display: inline-block;
    float: left; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/broadcasts\/style\.scss}line{font-family:\0000384}}
    header .top-header .logo-container img {
      height: 40px;
      margin-top: 13px;
      width: 86px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/broadcasts\/style\.scss}line{font-family:\0000391}}
  header .top-header .header-info {
    display: inline-block;
    float: right;
    position: relative; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/broadcasts\/style\.scss}line{font-family:\0000396}}
    header .top-header .header-info .balance-container {
      cursor: pointer;
      display: inline-block;
      left: -250px;
      padding: 7px 15px 0 15px;
      position: absolute;
      text-align: center;
      top: 10px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/broadcasts\/style\.scss}line{font-family:\00003105}}
      header .top-header .header-info .balance-container .divider {
        color: #979797;
        display: inline-block;
        height: 26px;
        position: absolute;
        top: 10px;
        width: 1px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/broadcasts\/style\.scss}line{font-family:\00003114}}
      header .top-header .header-info .balance-container div:nth-of-type(1) {
        left: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/broadcasts\/style\.scss}line{font-family:\00003118}}
      header .top-header .header-info .balance-container div:nth-of-type(2) {
        right: 4px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/broadcasts\/style\.scss}line{font-family:\00003122}}
      header .top-header .header-info .balance-container img {
        height: 10px;
        position: absolute;
        right: 4px;
        top: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/broadcasts\/style\.scss}line{font-family:\00003129}}
      header .top-header .header-info .balance-container span {
        color: #000000;
        display: block;
        font-size: 9px;
        margin-bottom: -4px;
        text-transform: uppercase; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/broadcasts\/style\.scss}line{font-family:\00003137}}
      header .top-header .header-info .balance-container span#balance {
        color: #eb009d;
        font-size: 17px;
        font-weight: 900; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/broadcasts\/style\.scss}line{font-family:\00003144}}
    header .top-header .header-info button {
      background: -webkit-gradient(linear, left top, right top, from(#c252ac), to(#c352ac));
      background: linear-gradient(to right, #c252ac, #c352ac);
      border: 1px solid #952d44;
      border-radius: 4px;
      color: #fff;
      cursor: pointer;
      display: inline-block;
      height: 33px;
      left: -120px;
      position: absolute;
      text-align: left;
      top: 12px;
      width: 101px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/broadcasts\/style\.scss}line{font-family:\00003158}}
      header .top-header .header-info button span {
        font-size: 11px;
        font-weight: bold;
        position: absolute;
        text-transform: uppercase;
        top: 8px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/broadcasts\/style\.scss}line{font-family:\00003166}}
      header .top-header .header-info button img {
        position: absolute;
        right: 2px;
        top: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/broadcasts\/style\.scss}line{font-family:\00003173}}
    header .top-header .header-info .login-container {
      background-color: #00669f;
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
      color: #fff;
      display: inline-block;
      font-size: 11px;
      font-weight: bold;
      height: 47px;
      margin-left: 20px;
      padding: 15px 35px;
      vertical-align: top;
      width: 202px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/broadcasts\/style\.scss}line{font-family:\00003187}}
      header .top-header .header-info .login-container a {
        color: #fff;
        font-size: 11px;
        font-weight: bold; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/broadcasts\/style\.scss}line{font-family:\00003193}}
      header .top-header .header-info .login-container a:first-child {
        margin-right: 10px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/broadcasts\/style\.scss}line{font-family:\00003197}}
      header .top-header .header-info .login-container a:last-child {
        margin-left: 5px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/broadcasts\/style\.scss}line{font-family:\00003204}}
header .menu-header {
  background: -webkit-gradient(linear, left top, right top, from(#bd53ad), to(#0066a0));
  background: linear-gradient(to right, #bd53ad, #0066a0);
  clear: both;
  height: 73px;
  text-align: center; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/broadcasts\/style\.scss}line{font-family:\00003210}}
  header .menu-header ul {
    height: 100%; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/broadcasts\/style\.scss}line{font-family:\00003213}}
    header .menu-header ul li {
      color: #fefefe;
      display: inline-block;
      height: 100%;
      padding-top: 15px;
      text-align: center;
      text-transform: uppercase;
      vertical-align: bottom;
      width: 12%; }
    header .menu-header ul li:nth-of-type(4){
        background-color: #7c437b;}
    header .menu-header ul li a{
        color: #fefefe;}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/broadcasts\/style\.scss}line{font-family:\00003224}}
      header .menu-header ul li img {
        display: block;
        margin: 0 auto; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/broadcasts\/style\.scss}line{font-family:\00003229}}
      header .menu-header ul li>img{
        display: none; }
      header .menu-header ul li:nth-of-type(4)>img{
        display: block;
        position: relative;
        z-index: 10;}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/broadcasts\/style\.scss}line{font-family:\00003233}}
      header .menu-header ul li span {
        display: block;
        font-size: 16px;
        margin-top: 10px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/broadcasts\/style\.scss}line{font-family:\00003239}}
    header .menu-header ul li:hover {
      background-color: #7c437b; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/broadcasts\/style\.scss}line{font-family:\00003242}}
      header .menu-header ul li:hover>img{
        display: block;
        position: relative;
        z-index: 10;}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/broadcasts\/style\.scss}line{font-family:\00003246}}
    header .menu-header ul li:nth-of-type(4) {
      background-color: #7c437b; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/broadcasts\/style\.scss}line{font-family:\00003249}}
      header .menu-header ul li:nth-of-type(4) img:nth-of-type(2) {
        display: block;
        position: relative; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/broadcasts\/style\.scss}line{font-family:\00003257}}
header .submenu-header {
  height: 74px;
  margin: 0 auto;
  text-align: center;
  width: 70%; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/broadcasts\/style\.scss}line{font-family:\00003263}}
  header .submenu-header .div {
    display: inline-block;
    height: 100%;
    padding: 10px 40px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/broadcasts\/style\.scss}line{font-family:\00003268}}
    header .submenu-header .div img {
      display: block;
      margin: 0 auto; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/broadcasts\/style\.scss}line{font-family:\00003273}}
    header .submenu-header .div a {
      color: #4d4d4d;
      display: block;
      font-size: 16px;
      text-transform: uppercase; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/broadcasts\/style\.scss}line{font-family:\00003281}}
  header .submenu-header .div:nth-of-type(2) {
    background-color: #e2dae9; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/broadcasts\/style\.scss}line{font-family:\00003283}}
    header .submenu-header .div:nth-of-type(2) a {
      color: #75468b; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/broadcasts\/style\.scss}line{font-family:\00003288}}
  header .submenu-header .div:hover {
    background-color: #e2dae9; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/broadcasts\/style\.scss}line{font-family:\00003297}}
main .import-container {
  background-color: #0066a0;
  line-height: 48px;
  height: 48px;
  padding: 0 40px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/broadcasts\/style\.scss}line{font-family:\00003303}}
  main .import-container input, main .import-container select {
    color: #717171;
    font-size: 16px;
    font-weight: 400;
    height: 38px;
    padding-left: 10px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/broadcasts\/style\.scss}line{font-family:\00003311}}
  main .import-container input:nth-of-type(1) {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    width: 20%; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/broadcasts\/style\.scss}line{font-family:\00003317}}
  main .import-container input:nth-of-type(2) {
    width: 20%; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/broadcasts\/style\.scss}line{font-family:\00003321}}
  main .import-container select {
    height: 38px;
    width: 15%; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/broadcasts\/style\.scss}line{font-family:\00003326}}
  main .import-container input:nth-of-type(3) {
    width: 38.6%; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/broadcasts\/style\.scss}line{font-family:\00003331}}
  main .import-container a img {
    display: inline-block;
    margin-left: -5px;
    vertical-align: middle; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/broadcasts\/style\.scss}line{font-family:\00003339}}
  main .import-container button {
    background: -webkit-gradient(linear, left top, right top, from(#c252ac), to(#7c59a8));
    background: linear-gradient(to right, #c252ac, #7c59a8);
    border: 1px solid #952d44;
    border-radius: 4px;
    cursor: pointer;
    height: 38px;
    margin-left: 8px;
    position: relative;
    vertical-align: middle;
    width: 146px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/broadcasts\/style\.scss}line{font-family:\00003350}}
    main .import-container button span {
      color: #fff;
      display: inline-block;
      font-size: 14px;
      font-weight: 400;
      left: 5px;
      position: absolute;
      text-align: left;
      text-transform: uppercase;
      top: -2px;
      width: 80%; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/broadcasts\/style\.scss}line{font-family:\00003363}}
    main .import-container button img {
      position: absolute;
      right: 6px;
      top: 8px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/broadcasts\/style\.scss}line{font-family:\00003371}}
main .table-container {
  background: -webkit-gradient(linear, left top, left bottom, from(#dcddde), to(#ffffff));
  background: linear-gradient(to bottom, #dcddde, #ffffff);
  padding: 16px 40px 30px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/broadcasts\/style\.scss}line{font-family:\00003375}}
  main .table-container h3 {
    background-color: #00669f;
    height: 35px;
    line-height: 35px;
    margin-bottom: 10px;
    padding-left: 10px;
    width: 1187px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/broadcasts\/style\.scss}line{font-family:\00003383}}
    main .table-container h3 span {
      color: #fff;
      display: inline-block;
      font-size: 16px;
      font-weight: 400;
      text-transform: uppercase; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/broadcasts\/style\.scss}line{font-family:\00003391}}
    main .table-container h3 span:nth-of-type(1) {
      width: 28%; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/broadcasts\/style\.scss}line{font-family:\00003395}}
    main .table-container h3 span:nth-of-type(2) {
      width: 24%; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/broadcasts\/style\.scss}line{font-family:\00003399}}
    main .table-container h3 span:nth-of-type(3) {
      width: 12%; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/broadcasts\/style\.scss}line{font-family:\00003410}}
  main .table-container .create-container input {
    border: 1px solid #00669f;
    border-radius: 4px;
    color: #717171;
    font-size: 14px;
    font-weight: 400;
    height: 38px;
    margin-right: 5px;
    padding-left: 10px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/broadcasts\/style\.scss}line{font-family:\00003421}}
  main .table-container .create-container input:nth-of-type(1) {
    width: 27.5%; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/broadcasts\/style\.scss}line{font-family:\00003425}}
  main .table-container .create-container input:nth-of-type(2) {
    width: 23.5%; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/broadcasts\/style\.scss}line{font-family:\00003429}}
  main .table-container .create-container input:nth-of-type(3) {
    width: 11.5%; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/broadcasts\/style\.scss}line{font-family:\00003433}}
  main .table-container .create-container input:nth-of-type(4) {
    width: 21.3%; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/broadcasts\/style\.scss}line{font-family:\00003437}}
  main .table-container .create-container button {
    background: -webkit-gradient(linear, left top, right top, from(#c252ac), to(#7c59a8));
    background: linear-gradient(to right, #c252ac, #7c59a8);
    border: 1px solid #952d44;
    border-radius: 4px;
    cursor: pointer;
    height: 38px;
    position: relative;
    vertical-align: middle;
    width: 146px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/broadcasts\/style\.scss}line{font-family:\00003447}}
    main .table-container .create-container button span {
      color: #fff;
      display: inline-block;
      font-size: 14px;
      font-weight: 400;
      left: 5px;
      position: absolute;
      text-align: left;
      text-transform: uppercase;
      top: -2px;
      width: 80%; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/broadcasts\/style\.scss}line{font-family:\00003460}}
    main .table-container .create-container button img {
      position: absolute;
      right: 6px;
      top: 8px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/broadcasts\/style\.scss}line{font-family:\00003468}}
  main .table-container .table-content {
    margin-top: 8px;
    width: 1187px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/broadcasts\/style\.scss}line{font-family:\00003472}}
    main .table-container .table-content table {
      border-collapse: collapse;
      width: 100%; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/broadcasts\/style\.scss}line{font-family:\00003476}}
      main .table-container .table-content table tr {
        height: 43px;
        width: 100%; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/broadcasts\/style\.scss}line{font-family:\00003480}}
        main .table-container .table-content table tr td {
          color: #4d4d4d;
          font-size: 14px;
          font-weight: 400;
          padding-left: 10px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/broadcasts\/style\.scss}line{font-family:\00003488}}
      main .table-container .table-content table tr:nth-of-type(2n-1) {
        background-color: #d3d4d7; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/broadcasts\/style\.scss}line{font-family:\00003492}}
      main .table-container .table-content table td:nth-of-type(1) {
        width: 28%; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/broadcasts\/style\.scss}line{font-family:\00003496}}
      main .table-container .table-content table td:nth-of-type(2) {
        position: relative;
        width: 25%; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/broadcasts\/style\.scss}line{font-family:\00003500}}
        main .table-container .table-content table td:nth-of-type(2) img {
          margin-left: 8px;
          vertical-align: middle; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/broadcasts\/style\.scss}line{font-family:\00003506}}
      main .table-container .table-content table td:nth-of-type(3) {
        width: 12.5%; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/broadcasts\/style\.scss}line{font-family:\00003510}}
      main .table-container .table-content table td:nth-of-type(5), main .table-container .table-content table td:nth-of-type(6), main .table-container .table-content table td:nth-of-type(7) {
        padding: 0;
        padding-left: 9px;
        width: 2%; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/broadcasts\/style\.scss}line{font-family:\00003516}}
      main .table-container .table-content table td:nth-of-type(7) {
        padding-right: 6px; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/broadcasts\/style\.scss}line{font-family:\00003526}}
footer {
  background-color: #0066a0;
  bottom: 0;
  height: 25px;
  padding-left: 80px;
  position: fixed;
  width: 100%; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/broadcasts\/style\.scss}line{font-family:\00003534}}
  footer span {
    color: #fff;
    font-size: 9px; }

@media (max-width: 1267px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/broadcasts\/style\.scss}line{font-family:\00003543}}
  header .submenu-header {
    width: 80%; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/broadcasts\/style\.scss}line{font-family:\00003550}}
  main .import-container input {
    width: 800px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/broadcasts\/style\.scss}line{font-family:\00003555}}
  main .table-container h3 {
    width: 848px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/broadcasts\/style\.scss}line{font-family:\00003559}}
  main .table-container .create-container input {
    width: 848px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/broadcasts\/style\.scss}line{font-family:\00003563}}
  main .table-container .table-content {
    width: 1006px; } }
@media (max-width: 1085px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/broadcasts\/style\.scss}line{font-family:\00003572}}
  header .submenu-header {
    width: 100%; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/broadcasts\/style\.scss}line{font-family:\00003579}}
  main .import-container input {
    width: 600px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/broadcasts\/style\.scss}line{font-family:\00003584}}
  main .table-container h3 {
    width: 648px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/broadcasts\/style\.scss}line{font-family:\00003588}}
  main .table-container .create-container input {
    width: 646px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/broadcasts\/style\.scss}line{font-family:\00003592}}
  main .table-container .table-content {
    width: 806px; } }
@media (max-width: 1067px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/broadcasts\/style\.scss}line{font-family:\00003600}}
  .menu-header {
    min-height: 180px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/broadcasts\/style\.scss}line{font-family:\00003603}}
    .menu-header ul {
      height: 50% !important; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/broadcasts\/style\.scss}line{font-family:\00003606}}
      .menu-header ul li {
        height: 100% !important;
        width: 20% !important; } }
@media (max-width: 885px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/broadcasts\/style\.scss}line{font-family:\00003616}}
  header .submenu-header {
    width: 100%; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/broadcasts\/style\.scss}line{font-family:\00003618}}
    header .submenu-header div {
      padding-left: 10px;
      padding-right: 10px; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/broadcasts\/style\.scss}line{font-family:\00003627}}
  main .import-container input {
    width: 450px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/broadcasts\/style\.scss}line{font-family:\00003632}}
  main .table-container h3 {
    width: 498px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/broadcasts\/style\.scss}line{font-family:\00003636}}
  main .table-container .create-container input {
    width: 498px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/broadcasts\/style\.scss}line{font-family:\00003640}}
  main .table-container .table-content {
    width: 656px; } }
@media (max-width: 719px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/broadcasts\/style\.scss}line{font-family:\00003648}}
  .top-header {
    height: 120px !important;
    padding-left: 5px !important; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/broadcasts\/style\.scss}line{font-family:\00003652}}
    .top-header .logo-container {
      display: block !important; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/broadcasts\/style\.scss}line{font-family:\00003656}}
    .top-header .header-info {
      display: block !important; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/broadcasts\/style\.scss}line{font-family:\00003659}}
      .top-header .header-info .balance-container {
        position: absolute !important;
        top: 70px !important; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/broadcasts\/style\.scss}line{font-family:\00003664}}
      .top-header .header-info button {
        position: absolute !important;
        top: 70px !important; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/broadcasts\/style\.scss}line{font-family:\00003669}}
      .top-header .header-info .login-container {
        left: -180px;
        position: absolute !important;
        width: 200px !important; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/broadcasts\/style\.scss}line{font-family:\00003677}}
  .menu-header {
    min-height: 220px !important; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/broadcasts\/style\.scss}line{font-family:\00003680}}
    .menu-header ul {
      height: 100% !important; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/broadcasts\/style\.scss}line{font-family:\00003683}}
      .menu-header ul li {
        height: 33% !important;
        margin-right: 10px !important;
        width: 25% !important; } }
