@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/send\/style\.scss}line{font-family:\000031}}
* {
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/send\/style\.scss}line{font-family:\000039}}
a {
  text-decoration: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/send\/style\.scss}line{font-family:\0000313}}
li {
  list-style: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/send\/style\.scss}line{font-family:\0000317}}
body {
  background: -webkit-gradient(linear, left top, left bottom, from(#dcddde), to(#ffffff));
  background: linear-gradient(to bottom, #dcddde, #ffffff); }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/send\/style\.scss}line{font-family:\0000321}}
::-webkit-scrollbar {
  border: 1px solid #b3b3b3;
  height: 13px;
  width: 9px; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/send\/style\.scss}line{font-family:\0000327}}
::-webkit-scrollbar-thumb {
  background-color: #0066a0;
  height: 13px;
  width: 9px; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/send\/style\.scss}line{font-family:\0000335}}
header .top-header {
  background: #fff;
  height: 63px;
  padding: 0 60px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/send\/style\.scss}line{font-family:\0000340}}
  header .top-header .logo-container {
    display: inline-block;
    float: left; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/send\/style\.scss}line{font-family:\0000344}}
    header .top-header .logo-container img {
      height: 40px;
      margin-top: 13px;
      width: 86px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/send\/style\.scss}line{font-family:\0000351}}
  header .top-header .header-info {
    display: inline-block;
    float: right;
    position: relative; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/send\/style\.scss}line{font-family:\0000356}}
    header .top-header .header-info .balance-container {
      cursor: pointer;
      display: inline-block;
      left: -250px;
      padding: 7px 15px 0 15px;
      position: absolute;
      text-align: center;
      top: 10px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/send\/style\.scss}line{font-family:\0000365}}
      header .top-header .header-info .balance-container .divider {
        color: #979797;
        display: inline-block;
        height: 26px;
        position: absolute;
        top: 10px;
        width: 1px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/send\/style\.scss}line{font-family:\0000374}}
      header .top-header .header-info .balance-container div:nth-of-type(1) {
        left: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/send\/style\.scss}line{font-family:\0000378}}
      header .top-header .header-info .balance-container div:nth-of-type(2) {
        right: 4px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/send\/style\.scss}line{font-family:\0000382}}
      header .top-header .header-info .balance-container img {
        height: 10px;
        position: absolute;
        right: 4px;
        top: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/send\/style\.scss}line{font-family:\0000389}}
      header .top-header .header-info .balance-container span {
        color: #000000;
        display: block;
        font-size: 9px;
        margin-bottom: -4px;
        text-transform: uppercase; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/send\/style\.scss}line{font-family:\0000397}}
      header .top-header .header-info .balance-container span#balance {
        color: #eb009d;
        font-size: 17px;
        font-weight: 900; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/send\/style\.scss}line{font-family:\00003104}}
    header .top-header .header-info button {
      background: -webkit-gradient(linear, left top, right top, from(#c252ac), to(#c352ac));
      background: linear-gradient(to right, #c252ac, #c352ac);
      border: 1px solid #952d44;
      border-radius: 4px;
      color: #fff;
      cursor: pointer;
      display: inline-block;
      height: 33px;
      left: -120px;
      position: absolute;
      text-align: left;
      top: 12px;
      width: 101px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/send\/style\.scss}line{font-family:\00003118}}
      header .top-header .header-info button span {
        font-size: 11px;
        font-weight: bold;
        position: absolute;
        text-transform: uppercase;
        top: 8px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/send\/style\.scss}line{font-family:\00003126}}
      header .top-header .header-info button img {
        position: absolute;
        right: 2px;
        top: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/send\/style\.scss}line{font-family:\00003133}}
    header .top-header .header-info .login-container {
      background-color: #00669f;
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
      color: #fff;
      display: inline-block;
      font-size: 11px;
      font-weight: bold;
      height: 47px;
      margin-left: 20px;
      padding: 15px 35px;
      vertical-align: top;
      width: 202px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/send\/style\.scss}line{font-family:\00003147}}
      header .top-header .header-info .login-container a {
        color: #fff;
        font-size: 11px;
        font-weight: bold; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/send\/style\.scss}line{font-family:\00003153}}
      header .top-header .header-info .login-container a:first-child {
        margin-right: 10px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/send\/style\.scss}line{font-family:\00003157}}
      header .top-header .header-info .login-container a:last-child {
        margin-left: 5px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/send\/style\.scss}line{font-family:\00003164}}
header .menu-header {
  background: -webkit-gradient(linear, left top, right top, from(#bd53ad), to(#0066a0));
  background: linear-gradient(to right, #bd53ad, #0066a0);
  clear: both;
  height: 73px;
  text-align: center; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/send\/style\.scss}line{font-family:\00003170}}
  header .menu-header ul {
    height: 100%; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/send\/style\.scss}line{font-family:\00003173}}
    header .menu-header ul li {
      color: #fefefe;
      display: inline-block;
      height: 100%;
      padding-top: 15px;
      text-align: center;
      text-transform: uppercase;
      vertical-align: bottom;
      width: 12%; }
    header .menu-header ul li:nth-of-type(2){
        background-color: #7c437b;}
    header .menu-header ul li a{
        color: #fefefe;}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/send\/style\.scss}line{font-family:\00003184}}
      header .menu-header ul li img {
        display: block;
        margin: 0 auto; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/send\/style\.scss}line{font-family:\00003189}}
      header .menu-header ul li>img {
        display: none; }
      header .menu-header ul li:nth-of-type(2)>img {
        display: block;
        position: relative;
        z-index: 10;}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/send\/style\.scss}line{font-family:\00003193}}
      header .menu-header ul li span {
        display: block;
        font-size: 16px;
        margin-top: 10px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/send\/style\.scss}line{font-family:\00003199}}
    header .menu-header ul li:hover {
      background-color: #7c437b; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/send\/style\.scss}line{font-family:\00003202}}
      header .menu-header ul li:hover>img {
        display: block; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/send\/style\.scss}line{font-family:\00003210}}
main {
  height: 800px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/send\/style\.scss}line{font-family:\00003213}}
  main .left-column {
    display: inline-block;
    margin-top: 30px;
    margin-left: 60px;
    margin-right: 80px;
    width: 45%; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/send\/style\.scss}line{font-family:\00003222}}
    main .left-column form input[type="text"], main .left-column form input[type="select"] {
      border: 1px solid #999999;
      border-radius: 3px;
      color: #666666;
      font-size: 12px;
      font-weight: 400;
      height: 37px;
      padding-left: 10px;
      width: 379px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/send\/style\.scss}line{font-family:\00003233}}
    main .left-column form button {
      background: -webkit-gradient(linear, left top, right top, from(#00669f), to(#50b278));
      background: linear-gradient(to right, #00669f, #50b278);
      border: 1px solid #0066af;
      border-radius: 3px;
      color: #fff;
      cursor: pointer;
      font-size: 10px;
      font-weight: 400;
      height: 37px;
      text-align: left;
      text-transform: uppercase;
      width: 118px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/send\/style\.scss}line{font-family:\00003247}}
    main .left-column form .line-1 {
      margin-bottom: 10px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/send\/style\.scss}line{font-family:\00003250}}
      main .left-column form .line-1 label {
        color: #000000;
        display: inline-block;
        font-size: 13px;
        font-weight: 300;
        margin-right: 56px;
        width: 108px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/send\/style\.scss}line{font-family:\00003259}}
      main .left-column form .line-1 input {
        margin-right: 10px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/send\/style\.scss}line{font-family:\00003263}}
      main .left-column form .line-1 button {
        position: relative;
        vertical-align: middle; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/send\/style\.scss}line{font-family:\00003267}}
        main .left-column form .line-1 button span {
          display: inline-block;
          padding-left: 5px;
          width: 60px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/send\/style\.scss}line{font-family:\00003273}}
        main .left-column form .line-1 button img {
          position: absolute;
          right: 5px;
          top: 5px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/send\/style\.scss}line{font-family:\00003281}}
    main .left-column form .line-2 {
      margin-bottom: 10px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/send\/style\.scss}line{font-family:\00003284}}
      main .left-column form .line-2 span {
        color: #000000;
        display: inline-block;
        font-size: 13px;
        font-weight: 300;
        margin-right: 56px;
        width: 108px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/send\/style\.scss}line{font-family:\00003293}}
      main .left-column form .line-2 input {
        margin-right: 5px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/send\/style\.scss}line{font-family:\00003297}}
      main .left-column form .line-2 label:nth-of-type(1), main .left-column form .line-2 label:nth-of-type(2) {
        color: #666666;
        font-size: 12px;
        font-weight: 300; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/send\/style\.scss}line{font-family:\00003303}}
      main .left-column form .line-2 label:nth-of-type(1) {
        margin-right: 50px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/send\/style\.scss}line{font-family:\00003308}}
    main .left-column form .line-3 {
      margin-bottom: 10px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/send\/style\.scss}line{font-family:\00003311}}
      main .left-column form .line-3 label {
        color: #000000;
        display: inline-block;
        font-size: 13px;
        font-weight: 300;
        margin-right: 56px;
        width: 108px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/send\/style\.scss}line{font-family:\00003321}}
    main .left-column form .line-4 {
      margin-bottom: 10px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/send\/style\.scss}line{font-family:\00003324}}
      main .left-column form .line-4 label {
        color: #000000;
        display: inline-block;
        font-size: 13px;
        font-weight: 300;
        margin-right: 56px;
        width: 108px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/send\/style\.scss}line{font-family:\00003333}}
      main .left-column form .line-4 input {
        margin-right: 10px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/send\/style\.scss}line{font-family:\00003337}}
      main .left-column form .line-4 input:nth-of-type(2) {
        margin-top: 10px;
        margin-left: 168px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/send\/style\.scss}line{font-family:\00003342}}
      main .left-column form .line-4 button {
        position: relative;
        vertical-align: middle; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/send\/style\.scss}line{font-family:\00003346}}
        main .left-column form .line-4 button span {
          display: inline-block;
          padding-left: 5px;
          width: 90px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/send\/style\.scss}line{font-family:\00003352}}
        main .left-column form .line-4 button img {
          position: absolute;
          right: 5px;
          top: 5px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/send\/style\.scss}line{font-family:\00003360}}
    main .left-column form .line-5 {
      margin-bottom: 10px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/send\/style\.scss}line{font-family:\00003363}}
      main .left-column form .line-5 label {
        color: #000000;
        display: inline-block;
        font-size: 13px;
        font-weight: 300;
        margin-right: 56px;
        width: 108px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/send\/style\.scss}line{font-family:\00003372}}
      main .left-column form .line-5 input {
        margin-right: 10px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/send\/style\.scss}line{font-family:\00003376}}
      main .left-column form .line-5 button {
        position: relative;
        vertical-align: middle; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/send\/style\.scss}line{font-family:\00003380}}
        main .left-column form .line-5 button span {
          display: inline-block;
          padding-left: 5px;
          width: 90px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/send\/style\.scss}line{font-family:\00003386}}
        main .left-column form .line-5 button img {
          position: absolute;
          right: 5px;
          top: 5px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/send\/style\.scss}line{font-family:\00003394}}
    main .left-column form .line-6 {
      margin-bottom: 10px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/send\/style\.scss}line{font-family:\00003397}}
      main .left-column form .line-6 span {
        color: #000000;
        display: inline-block;
        font-size: 13px;
        font-weight: 300;
        margin-right: 56px;
        width: 108px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/send\/style\.scss}line{font-family:\00003406}}
      main .left-column form .line-6 label {
        color: #666666;
        font-size: 12px;
        font-weight: 300;
        margin-left: 5px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/send\/style\.scss}line{font-family:\00003413}}
      main .left-column form .line-6 label:nth-of-type(1), main .left-column form .line-6 label:nth-of-type(2) {
        margin-right: 30px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/send\/style\.scss}line{font-family:\00003418}}
    main .left-column form .line-7 {
      margin-bottom: 10px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/send\/style\.scss}line{font-family:\00003421}}
      main .left-column form .line-7 label {
        color: #000000;
        display: inline-block;
        font-size: 13px;
        font-weight: 300;
        margin-right: 56px;
        width: 108px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/send\/style\.scss}line{font-family:\00003430}}
      main .left-column form .line-7 input:nth-of-type(1) {
        margin-right: 20px;
        width: 165px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/send\/style\.scss}line{font-family:\00003435}}
      main .left-column form .line-7 input:nth-of-type(2) {
        margin-right: 10px;
        width: 190px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/send\/style\.scss}line{font-family:\00003440}}
      main .left-column form .line-7 button {
        position: relative;
        vertical-align: middle; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/send\/style\.scss}line{font-family:\00003444}}
        main .left-column form .line-7 button span {
          display: inline-block;
          padding-left: 5px;
          width: 70px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/send\/style\.scss}line{font-family:\00003450}}
        main .left-column form .line-7 button img {
          position: absolute;
          right: 5px;
          top: 5px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/send\/style\.scss}line{font-family:\00003458}}
    main .left-column form .line-8 {
      margin-bottom: 10px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/send\/style\.scss}line{font-family:\00003461}}
      main .left-column form .line-8 label {
        color: #000000;
        display: inline-block;
        font-size: 13px;
        font-weight: 300;
        margin-right: 56px;
        width: 108px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/send\/style\.scss}line{font-family:\00003470}}
      main .left-column form .line-8 input {
        margin-right: 10px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/send\/style\.scss}line{font-family:\00003474}}
      main .left-column form .line-8 button {
        position: relative;
        vertical-align: middle; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/send\/style\.scss}line{font-family:\00003478}}
        main .left-column form .line-8 button span {
          display: inline-block;
          padding-left: 5px;
          width: 70px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/send\/style\.scss}line{font-family:\00003484}}
        main .left-column form .line-8 button img {
          position: absolute;
          right: 5px;
          top: 5px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/send\/style\.scss}line{font-family:\00003492}}
    main .left-column form .line-9 {
      margin-bottom: 20px;
      position: relative; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/send\/style\.scss}line{font-family:\00003496}}
      main .left-column form .line-9 label {
        color: #000000;
        display: inline-block;
        font-size: 13px;
        font-weight: 300;
        margin-right: 56px;
        vertical-align: top;
        width: 108px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/send\/style\.scss}line{font-family:\00003506}}
      main .left-column form .line-9 textarea {
        border: 1px solid #999999;
        border-radius: 3px;
        color: #666666;
        font-size: 12px;
        font-weight: 300;
        height: 90px;
        margin-right: 10px;
        padding-top: 10px;
        padding-left: 10px;
        width: 379px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/send\/style\.scss}line{font-family:\00003519}}
      main .left-column form .line-9 ul {
        display: inline-block;
        max-height: 90px;
        margin: 0;
        overflow-y: scroll;
        padding: 0;
        width: 118px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/send\/style\.scss}line{font-family:\00003527}}
        main .left-column form .line-9 ul li {
          border: 1px solid #999999;
          border-radius: 3px;
          height: 18px;
          margin-right: 2px;
          padding: 0;
          position: relative; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/send\/style\.scss}line{font-family:\00003535}}
          main .left-column form .line-9 ul li img {
            left: 5px;
            position: absolute;
            top: 5px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/send\/style\.scss}line{font-family:\00003541}}
          main .left-column form .line-9 ul li a {
            color: #666666;
            font-size: 9px;
            font-weight: 400;
            height: 17px;
            margin-left: 20px;
            vertical-align: top; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/send\/style\.scss}line{font-family:\00003552}}
      main .left-column form .line-9 div {
        left: 170px;
        position: absolute;
        top: 88px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/send\/style\.scss}line{font-family:\00003557}}
        main .left-column form .line-9 div span {
          color: #666666;
          font-size: 12px;
          font-weight: 300; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/send\/style\.scss}line{font-family:\00003565}}
    main .left-column form .line-10 {
      margin-bottom: 20px;
      text-align: right;
      width: 680px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/send\/style\.scss}line{font-family:\00003570}}
      main .left-column form .line-10 button {
        font-size: 15px;
        font-weight: 400;
        text-align: center;
        text-transform: uppercase; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/send\/style\.scss}line{font-family:\00003577}}
      main .left-column form .line-10 button:first-child {
        background: #fff;
        border: 1px solid #9d56aa;
        color: #9d56aa;
        margin-right: 10px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/send\/style\.scss}line{font-family:\00003584}}
      main .left-column form .line-10 button:last-child {
        background: -webkit-gradient(linear, left top, right top, from(#c252ac), to(#7e59a7));
        background: linear-gradient(to right, #c252ac, #7e59a7);
        border: 1px solid #7e59a7;
        color: #ffffff;
        padding-left: 10px;
        position: relative;
        text-align: left; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/send\/style\.scss}line{font-family:\00003592}}
        main .left-column form .line-10 button:last-child img {
          right: 10px;
          position: absolute;
          top: 2px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/send\/style\.scss}line{font-family:\00003603}}
  main .right-column {
    display: inline-block;
    margin-top: 30px;
    vertical-align: top;
    width: 30%; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/send\/style\.scss}line{font-family:\00003609}}
    main .right-column .picture-container {
      margin-bottom: 10px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/send\/style\.scss}line{font-family:\00003613}}
    main .right-column .table-container {
      border-bottom: 2px solid #00669f;
      width: 301px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/send\/style\.scss}line{font-family:\00003617}}
      main .right-column .table-container table {
        border-collapse: collapse;
        width: 100%; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/send\/style\.scss}line{font-family:\00003621}}
        main .right-column .table-container table tr {
          height: 23px;
          width: 100%; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/send\/style\.scss}line{font-family:\00003625}}
          main .right-column .table-container table tr td {
            font-size: 9px;
            font-weight: 400; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/send\/style\.scss}line{font-family:\00003630}}
          main .right-column .table-container table tr td:nth-of-type(2) {
            padding-left: 20px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/send\/style\.scss}line{font-family:\00003634}}
          main .right-column .table-container table tr td:nth-of-type(3) {
            padding-left: 10px;
            text-align: left; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/send\/style\.scss}line{font-family:\00003642}}
        main .right-column .table-container table #total td {
          color: #00669f;
          font-size: 10px;
          font-weight: 700;
          text-transform: uppercase; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/send\/style\.scss}line{font-family:\00003650}}
        main .right-column .table-container table tr:nth-of-type(2n+1) {
          background-color: #d3d4d7; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/send\/style\.scss}line{font-family:\00003654}}
        main .right-column .table-container table tr:nth-of-type(1) {
          background-color: #00669f;
          border-radius: 3px;
          color: #fff;
          font-size: 10px;
          font-weight: 700;
          height: 37px;
          text-transform: uppercase; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/send\/style\.scss}line{font-family:\00003663}}
          main .right-column .table-container table tr:nth-of-type(1) th:nth-of-type(1) {
            border-top-left-radius: 3px;
            border-bottom-left-radius: 3px;
            padding-left: 10px;
            text-align: left;
            width: 40%; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/send\/style\.scss}line{font-family:\00003671}}
          main .right-column .table-container table tr:nth-of-type(1) th:nth-of-type(2) {
            text-align: left;
            width: 40%; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/send\/style\.scss}line{font-family:\00003675}}
            main .right-column .table-container table tr:nth-of-type(1) th:nth-of-type(2) span:nth-of-type(1) {
              display: inline-block;
              width: 100%; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/send\/style\.scss}line{font-family:\00003680}}
            main .right-column .table-container table tr:nth-of-type(1) th:nth-of-type(2) span:nth-of-type(2) {
              display: inline-block;
              font-size: 8px;
              font-weight: 600;
              width: 100%; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/send\/style\.scss}line{font-family:\00003688}}
          main .right-column .table-container table tr:nth-of-type(1) th:nth-of-type(3) {
            border-top-right-radius: 3px;
            border-bottom-right-radius: 3px;
            padding-left: 10px;
            text-align: left;
            width: 20%; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/send\/style\.scss}line{font-family:\00003701}}
footer {
  background-color: #0066a0;
  bottom: 0;
  height: 25px;
  padding-left: 80px;
  position: fixed;
  width: 100%; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/send\/style\.scss}line{font-family:\00003709}}
  footer span {
    color: #fff;
    font-size: 9px; }

@media (max-width: 1510px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/send\/style\.scss}line{font-family:\00003717}}
  main .left-column {
    margin-right: 20px;
    width: 60%; } }
@media (max-width: 1280px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/send\/style\.scss}line{font-family:\00003726}}
  main .left-column {
    margin: 0;
    margin-top: 30px;
    margin-left: 60px;
    margin-right: 20px;
    width: 60%; } }
@media (max-width: 1067px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/send\/style\.scss}line{font-family:\00003737}}
  .menu-header {
    min-height: 180px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/send\/style\.scss}line{font-family:\00003740}}
    .menu-header ul {
      height: 50% !important; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/send\/style\.scss}line{font-family:\00003743}}
      .menu-header ul li {
        height: 100% !important;
        width: 20% !important; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/send\/style\.scss}line{font-family:\00003750}}
  main {
    height: 1200px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/send\/style\.scss}line{font-family:\00003753}}
    main .left-column {
      display: block;
      margin: 30px auto;
      width: 90%; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/send\/style\.scss}line{font-family:\00003759}}
    main .right-column {
      display: block;
      margin: 0 auto;
      margin-bottom: 30px; } }
@media (max-width: 719px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/send\/style\.scss}line{font-family:\00003768}}
  .top-header {
    height: 120px !important;
    padding-left: 5px !important; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/send\/style\.scss}line{font-family:\00003772}}
    .top-header .logo-container {
      display: block !important; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/send\/style\.scss}line{font-family:\00003776}}
    .top-header .header-info {
      display: block !important; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/send\/style\.scss}line{font-family:\00003779}}
      .top-header .header-info .balance-container {
        position: absolute !important;
        top: 70px !important; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/send\/style\.scss}line{font-family:\00003784}}
      .top-header .header-info button {
        position: absolute !important;
        top: 70px !important; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/send\/style\.scss}line{font-family:\00003789}}
      .top-header .header-info .login-container {
        left: -180px;
        position: absolute !important;
        width: 200px !important; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/send\/style\.scss}line{font-family:\00003797}}
  .menu-header {
    min-height: 220px !important; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/send\/style\.scss}line{font-family:\00003800}}
    .menu-header ul {
      height: 100% !important; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/send\/style\.scss}line{font-family:\00003803}}
      .menu-header ul li {
        height: 33% !important;
        margin-right: 10px !important;
        width: 25% !important; } }
