<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Edit Template</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="edit-template-style.css">
</head>
<body>
    <div class="wrapper">
        <div class="header">
            <div class="header-title">
                <h3>edit template</h3>
                <img src="close_upper_x.png" alt="close">
            </div>
            <div class="import-container">
                <input type="text" placeholder="Template Name">
            </div>
        </div>
        <div class="main">
            <div class="textarea-container">
                <textarea name="textarea" id="textareaid" cols="10" rows="10">
                    Lorem ipsum dolor sit amet
                </textarea>
            </div>

            <div class="select-container">
                <ul>
                    <li>
                        <img src="arrow_left.png" alt="">
                        <a href="#">Last Name</a>
                    </li>
                    <li>
                        <img src="arrow_left.png" alt="">
                        <a href="#">First Name</a>
                    </li>
                    <li>
                        <img src="arrow_left.png" alt="">
                        <a href="#">Random Symbol</a>
                    </li>
                    <li>
                        <img src="arrow_left.png" alt="">
                        <a href="#">URL</a>
                    </li>
                    <li>
                        <img src="arrow_left.png" alt="">
                        <a href="#">Link List</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="footer">
                <button>
                    <span>save template</span>
                    <img src="save-white-iocn.png" alt="">
                </button>
            </div>
    </div>
</body>
</html>