*{
    border: none;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

body{
    // background: linear-gradient(to bottom, #dcddde, #ffffff);
}

::-webkit-scrollbar{
    border: 1px solid #b3b3b3;
    height: 13px;
    width: 9px;
}

::-webkit-scrollbar-thumb {
    background-color: #0066a0;
    height: 13px;
    width: 9px;
}

header{

    .top-header{
        background: #fff;
        height: 63px;
        padding: 0 60px;

        .logo-container{
            display: inline-block;
            float: left;

            img{
                height: 40px;
                margin-top: 13px;
                width: 86px;
            }
        }

        .header-info{
            display: inline-block;
            float: right;
            position: relative;

            .balance-container{
                cursor: pointer;
                display: inline-block;
                left: -250px;
                padding: 7px 15px 0 15px;
                position: absolute;
                text-align: center;
                top: 10px;

                .divider{
                    color: #979797;
                    display: inline-block;
                    height: 26px;
                    position: absolute;
                    top: 10px;
                    width: 1px;
                }

                div:nth-of-type(1){
                    left: 0;
                }

                div:nth-of-type(2){
                    right: 4px;
                }

                img{
                    height: 10px;
                    position: absolute;
                    right: 4px;
                    top: 0;
                }

                span{
                    color: #000000;
                    display: block;
                    font-size: 9px;
                    margin-bottom: -4px;
                    text-transform: uppercase;
                }

                span#balance{
                    color: #eb009d;
                    font-size: 17px;
                    font-weight: 900;
                }
            }

            button{
                background: linear-gradient(to right, #c252ac, #c352ac);
                border: 1px solid #952d44;
                border-radius: 4px;
                color: #fff;
                cursor: pointer;
                display: inline-block;
                height: 33px;
                left: -120px;
                position: absolute;
                text-align: left;
                top: 12px;
                width: 101px;

                span{
                    font-size: 11px;
                    font-weight: bold;
                    position: absolute;
                    text-transform: uppercase;
                    top: 8px;
                }

                img{
                    position: absolute;
                    right: 2px;
                    top: 0;
                }
            }

            .login-container{
                background-color: #00669f;
                border-bottom-left-radius: 4px;
                border-bottom-right-radius: 4px;
                color: #fff;
                display: inline-block;
                font-size: 11px;
                font-weight: bold;
                height: 47px;
                margin-left: 20px;
                padding: 15px 35px;
                vertical-align: top;
                width: 202px;

                a{
                    color: #fff;
                    font-size: 11px;
                    font-weight: bold;
                }

                a:first-child{
                    margin-right: 10px;
                }

                a:last-child{
                    margin-left: 5px;
                }
            }
        }
    }

    .menu-header{
        background: linear-gradient(to right, #bd53ad, #0066a0);
        clear: both;
        height: 73px;
        text-align: center;

        ul{
            height: 100%;

            li{
                color: #fefefe;
                cursor: pointer;
                display: inline-block;
                height: 100%;
                padding-top: 15px;
                text-align: center;
                text-transform: uppercase;
                vertical-align: bottom;
                width: 12%;

                img{
                    display: block;
                    margin: 0 auto;
                }

                img:nth-of-type(2){
                    display: none;
                }

                span{
                    display: block;
                    font-size: 16px;
                    margin-top: 10px;
                }
            }
            li:hover{
                background-color: #7c437b;

                img:nth-of-type(2){
                    display: block;
                }
            }
            li:nth-of-type(3){
                background-color: #7c437b;

                img:nth-of-type(2){
                    display: block;
                    position: relative;
                }
            }
        }        
    }

    .submenu-header{
        height: 73px;
        margin: 0 auto;
        text-align: center;
        width: 60%;

        .div{
            display: inline-block;
            height: 100%;
            padding: 10px 40px;

            img{
                display: block;
                margin: 0 auto;
            }

            a{
                color: #4d4d4d;
                display: block;
                text-transform: uppercase;
            }
        }

        .div:nth-of-type(1){
            background-color: #e2dae9;
            a{
                color: #872c95;
            }
        }

        .div:hover{
            background-color: #e2dae9;
        }
    }
}

main{


    .import-container{
        background-color: #0066a0;
        line-height: 48px;
        height: 48px;
        padding: 0 40px;

        input{
            color: #717171;
            font-size: 14px;
            font-weight: 400;
            height: 38px;
            padding-left: 10px;
        }

        input:nth-of-type(1){
            border-top-left-radius: 4px;
            border-bottom-left-radius: 4px;
        }

        input:nth-of-type(1), input:nth-of-type(2), input:nth-of-type(3){
            width: 228px;
        }

        input:nth-of-type(4){
            width: 110px;
        }

        a{
            img{
                display: inline-block;
                margin-left: -5px;
                vertical-align: middle;
            }
        }
        

        button{
            background: linear-gradient(to right, #c252ac, #7c59a8);
            border: 1px solid #952d44;
            border-radius: 4px;
            cursor: pointer;
            height: 38px;
            margin-left: 8px;
            position: relative;
            vertical-align: middle;
            width: 146px;

            span{
                color: #fff;
                display: inline-block;
                font-size: 14px;
                font-weight: 400;
                left: 5px;
                position: absolute;
                text-align: left;
                text-transform: uppercase;
                top: -2px;
                width: 80%;
            }

            img{
                position: absolute;
                right: 6px;
                top: 8px;
            }
        }
    }

    .table-container{
        // background: linear-gradient(to bottom, #dcddde, #ffffff);
        padding: 20px 40px 30px;

        h3{
            background-color: #00669f;
            height: 35px;
            line-height: 35px;
            margin-bottom: 10px;
            padding-left: 10px;
            width: 1187px;

            span{
                color: #fff;
                display: inline-block;
                font-size: 16px;
                font-weight: 400;
                text-transform: uppercase;
            }

            span:nth-of-type(2), span:nth-of-type(3){
                width: 228px;
            }

            span:nth-of-type(1){
                width: 216px;
            }

            span:nth-of-type(4){
                width: 110px;
            }
        }

        .create-container{

            input{
                border: 1px solid #00669f;
                border-radius: 4px;
                color: #717171;
                font-size: 14px;
                font-weight: 400;
                height: 38px;
                padding-left: 10px;
            }

            input:nth-of-type(1), input:nth-of-type(2){
                width: 226px;
            }

            input:nth-of-type(3){
                width: 232px;
            }

            input:nth-of-type(4){
                width: 110px;
            }

            input:nth-of-type(5){
                width: 216px;
            }

            button{
                background: linear-gradient(to right, #c252ac, #7c59a8);
                border: 1px solid #952d44;
                border-radius: 4px;
                cursor: pointer;
                height: 38px;
                margin-left: 8px;
                position: relative;
                vertical-align: top;
                width: 146px;

                span{
                    color: #fff;
                    display: inline-block;
                    font-size: 14px;
                    font-weight: 400;
                    left: 5px;
                    position: absolute;
                    text-align: left;
                    text-transform: uppercase;
                    top: -2px;
                    width: 80%;
                }

                img{
                    position: absolute;
                    right: 6px;
                    top: 8px;
                }
            }
        }

        .table-content{
            margin-top: 8px;
            width: 1187px;

            table{
                border-collapse: collapse;
                width: 100%;

                tr{
                    height: 43px;
                    width: 100%;

                    td{
                        color: #4d4d4d;
                        font-size: 14px;
                        font-weight: 400;
                    }
                }

                tr:nth-of-type(2n-1){
                    background-color: #d3d4d7;
                }

                td:nth-of-type(1){
                    padding-left: 10px;
                    width: 240px;
                }

                td:nth-of-type(2){
                    text-decoration: underline;
                    width: 230px;
                }

                td:nth-of-type(3){
                    width: 235px;
                }

                td:nth-of-type(4){
                    width: 115px;
                }
            }
        }
    }


}

footer{
    background-color: #0066a0;
    bottom: 0;
    height: 25px;
    padding-left: 80px;
    position: fixed;
    width: 100%;

    span{
        color: #fff;
        font-size: 9px;
    }
}


@media(max-width: 1267px){
    header{
        .submenu-header{
            width: 70%;
        }
    }

    main{
        .import-container{
            padding-left: 5px !important;
            padding-right: 5px !important;

            input:nth-of-type(1){
                width: 145px !important;
            }
            input:nth-of-type(2){
                width: 180px !important;
            }
            input:nth-of-type(3){
                width: 160px !important;
            }
            input:nth-of-type(4){
                width: 80px !important;
            }
        }
        .table-container{
            padding-left: 5px !important;
            padding-right: 5px !important;
            h3{
                width: 955px;
                span:nth-of-type(1){
                    width: 145px !important;
                }
                span:nth-of-type(2){
                    width: 180px !important;
                }
                span:nth-of-type(3){
                    width: 148px !important;
                }
                span:nth-of-type(4){
                    width: 90px !important;
                }
            }
            .create-container{
                //max-width: 1000px !important;

                input:nth-of-type(1){
                    width: 145px !important;
                }
                input:nth-of-type(2){
                    width: 180px !important;
                }
                input:nth-of-type(3){
                    width: 160px !important;
                }
                input:nth-of-type(4){
                    width: 80px !important;
                }
            }
            .table-content{
                width: 956px;


            }
        }
    }
}

@media(max-width: 1085px){
    header{
        .submenu-header{
            width: 90%;
        }
    }

    main{
        .import-container{
            input{
                width: 600px;
            }
        }
        .table-container{
            h3{
                width: 648px;
            }
            .create-container{
                input{
                    width: 646px;
                }
            }
            .table-content{
                width: 806px;
            }
        }
    }
}

@media(max-width: 1067px){
    .menu-header{
        min-height: 180px;

        ul{
            height: 50% !important;

            li{
                height: 100% !important;
                width: 20% !important;
            }
        }
    }
}

@media(max-width: 885px){
    header{
        .submenu-header{
            width: 100%;
            div{
                padding-left: 10px;
                padding-right: 10px;
            }
        }
    }

    main{
        .import-container{
            input{
                width: 450px;
            }
        }
        .table-container{
            h3{
                width: 498px;
            }
            .create-container{
                input{
                    width: 498px;
                }
            }
            .table-content{
                width: 656px;
            }
        }
    }
}

@media(max-width: 719px){
    .top-header{
        height: 120px !important;
        padding-left: 5px !important;

        .logo-container{
            display: block !important;
        }

        .header-info{
            display: block !important;

            .balance-container{
                position: absolute !important;
                top: 70px !important;
            }

            button{
                position: absolute !important;
                top: 70px !important;
            }

            .login-container{
                left: -180px;
                position: absolute !important;
                width: 200px !important;
            }
        }
    }

    .menu-header{
        min-height: 220px !important;

        ul{
            height: 100% !important;

            li{
                height: 33% !important;
                margin-right: 10px !important;
                width: 25% !important;
            }
        }
    }
}