*{
    border: none;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

header{

    .top-header{
        height: 60px;
        padding: 0 60px;

        .logo-container{
            display: inline-block;
            float: left;
        }

        .header-info{
            display: inline-block;
            float: right;
            position: relative;

            .balance-container{
                border-left: 1px solid #333;
                border-right: 1px solid #333;
                display: inline-block;
                left: -250px;
                padding: 0 15px;
                position: absolute;
                text-align: center;
                top: 7px;

                span{
                    display: block;
                    font-size: 12px;
                    text-transform: uppercase;
                }

                span:nth-of-type(2){
                    color: #ed1191;
                    font-size: 18px;
                    font-weight: bold;
                }
            }

            button{
                background-image: url('add_credit.png');
                background-repeat: no-repeat;
                background-size: cover;
                color: #fff;
                cursor: pointer;
                display: inline-block;
                font-size: 12px;
                font-weight: bold;
                height: 42px;
                left: -120px;
                padding-left: 4px;
                position: absolute;
                text-align: left;
                text-transform: uppercase;
                top: 7px;
                width: 120px;
            }

            .login-container{
                background-color: #0066a0;
                border-bottom-left-radius: 8px;
                border-bottom-right-radius: 8px;
                color: #fff;
                cursor: pointer;
                display: inline-block;
                font-size: 12px;
                font-weight: bold;
                margin-left: 20px;
                padding: 15px 40px;
                vertical-align: top;
            }
        }
    }

    .menu-header{
        background: linear-gradient(to right, #bd53ad, #0066a0);
        clear: both;
        height: 60px;
        text-align: center;

        ul{
            height: 100%;

            li{
                color: #fefefe;
                cursor: pointer;
                display: inline-block;
                height: 100%;
                text-align: center;
                text-transform: uppercase;
                vertical-align: bottom;
                width: 12%;

                img{
                    display: block;
                }
            }
            li:hover{
                background-color: #7c437a;
            }
        }        
    }
}

footer{
    background-color: #0066a0;
    bottom: 0;
    padding-left: 80px;
    position: fixed;
    width: 100%;

    span{
        color: #fff;
        font-size: 12px;
    }
}

@media(max-width: 1067px){
    .menu-header{
        min-height: 180px;

        ul{
            height: 50% !important;

            li{
                height: 100% !important;
                width: 20% !important;
            }
        }
    }
}

@media(max-width: 719px){
    .top-header{
        height: 120px !important;
        padding-left: 5px !important;

        .logo-container{
            display: block !important;
        }

        .header-info{
            display: block !important;

            .balance-container{
                position: absolute !important;
                top: 70px !important;
            }

            button{
                position: absolute !important;
                top: 70px !important;
            }

            .login-container{
                left: -180px;
                position: absolute !important;
                width: 200px !important;
            }
        }
    }

    .menu-header{
        min-height: 220px !important;

        ul{
            height: 100% !important;

            li{
                height: 33% !important;
                margin-right: 10px !important;
                width: 25% !important;
            }
        }
    }
}