*{
    border: none;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

header{

    .top-header{
        height: 60px;
        padding: 0 60px;

        .logo-container{
            display: inline-block;
            float: left;
        }

        .header-info{
            display: inline-block;
            float: right;
            position: relative;

            .balance-container{
                border-left: 1px solid #333;
                border-right: 1px solid #333;
                display: inline-block;
                left: -250px;
                padding: 0 15px;
                position: absolute;
                text-align: center;
                top: 7px;

                span{
                    display: block;
                    font-size: 12px;
                    text-transform: uppercase;
                }

                span:nth-of-type(2){
                    color: #ed1191;
                    font-size: 18px;
                    font-weight: bold;
                }
            }

            button{
                background-image: url('add_credit.png');
                background-repeat: no-repeat;
                background-size: cover;
                color: #fff;
                cursor: pointer;
                display: inline-block;
                font-size: 12px;
                font-weight: bold;
                height: 42px;
                left: -120px;
                padding-left: 4px;
                position: absolute;
                text-align: left;
                text-transform: uppercase;
                top: 7px;
                width: 120px;
            }

            .login-container{
                background-color: #0066a0;
                border-bottom-left-radius: 8px;
                border-bottom-right-radius: 8px;
                color: #fff;
                cursor: pointer;
                display: inline-block;
                font-size: 12px;
                font-weight: bold;
                margin-left: 20px;
                padding: 15px 40px;
                vertical-align: top;
            }
        }
    }

    .menu-header{
        background: linear-gradient(to right, #bd53ad, #0066a0);
        clear: both;
        height: 60px;
        text-align: center;

        ul{

            li{
                color: #fefefe;
                display: inline-block;
                text-align: center;
                text-transform: uppercase;
                width: 12%;
            }
        }        
    }
}