@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/style\.scss}line{font-family:\000031}}
* {
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/style\.scss}line{font-family:\000039}}
a {
  text-decoration: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/style\.scss}line{font-family:\0000313}}
li {
  list-style: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/style\.scss}line{font-family:\0000319}}
header .top-header {
  height: 60px;
  padding: 0 60px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/style\.scss}line{font-family:\0000323}}
  header .top-header .logo-container {
    display: inline-block;
    float: left; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/style\.scss}line{font-family:\0000328}}
  header .top-header .header-info {
    display: inline-block;
    float: right;
    position: relative; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/style\.scss}line{font-family:\0000333}}
    header .top-header .header-info .balance-container {
      border-left: 1px solid #333;
      border-right: 1px solid #333;
      display: inline-block;
      left: -250px;
      padding: 0 15px;
      position: absolute;
      text-align: center;
      top: 7px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/style\.scss}line{font-family:\0000343}}
      header .top-header .header-info .balance-container span {
        display: block;
        font-size: 12px;
        text-transform: uppercase; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/style\.scss}line{font-family:\0000349}}
      header .top-header .header-info .balance-container span:nth-of-type(2) {
        color: #ed1191;
        font-size: 18px;
        font-weight: bold; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/style\.scss}line{font-family:\0000356}}
    header .top-header .header-info button {
      background-image: url("add_credit.png");
      background-repeat: no-repeat;
      background-size: cover;
      color: #fff;
      cursor: pointer;
      display: inline-block;
      font-size: 12px;
      font-weight: bold;
      height: 42px;
      left: -120px;
      padding-left: 4px;
      position: absolute;
      text-align: left;
      text-transform: uppercase;
      top: 7px;
      width: 120px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/style\.scss}line{font-family:\0000375}}
    header .top-header .header-info .login-container {
      background-color: #0066a0;
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
      color: #fff;
      cursor: pointer;
      display: inline-block;
      font-size: 12px;
      font-weight: bold;
      margin-left: 20px;
      padding: 15px 40px;
      vertical-align: top; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/style\.scss}line{font-family:\0000391}}
header .menu-header {
  background: -webkit-gradient(linear, left top, right top, from(#bd53ad), to(#0066a0));
  background: linear-gradient(to right, #bd53ad, #0066a0);
  clear: both;
  height: 60px;
  text-align: center; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/style\.scss}line{font-family:\0000399}}
  header .menu-header ul li {
    color: #fefefe;
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
    width: 12%; }
