*{
    border: none;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

input::-webkit-datetime-edit-year-field:not([aria-valuenow]),
input::-webkit-datetime-edit-month-field:not([aria-valuenow]),
input::-webkit-datetime-edit-day-field:not([aria-valuenow]){
    color: transparent;
}

input::-webkit-datetime-edit{
    color: transparent;
}

input:focus::-webkit-datetime-edit{
    color: #000 !important; //здесь нужно сохранить это значение после потери фокуса
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
    -webkit-appearance: none;
}

input[type="date"]{
    -moz-appearance: textfield;
}

::-webkit-calendar-picker-indicator{
    color: rgba(0, 0, 0, 0);
    cursor: pointer;
    opacity: 1;
    display: block;
    background: url("small_calendar_icon.png") no-repeat;
    background-position-y: 5px;
    height: 100%;
    border-width: thin;
}

::-webkit-scrollbar{
    border: 1px solid #b3b3b3;
    height: 13px;
    width: 9px;
}

::-webkit-scrollbar-thumb {
    background-color: #0066a0;
    height: 13px;
    width: 9px;
}

body{
    background: linear-gradient(to bottom, #dcddde, #ffffff);
    height: 940px; // по возможности убрать это
}

header{

    .top-header{
        background: #fff;
        height: 63px;
        padding: 0 60px;

        .logo-container{
            display: inline-block;
            float: left;

            img{
                height: 40px;
                margin-top: 13px;
                width: 86px;
            }
        }

        .header-info{
            display: inline-block;
            float: right;
            position: relative;

            .balance-container{
                cursor: pointer;
                display: inline-block;
                left: -250px;
                padding: 7px 15px 0 15px;
                position: absolute;
                text-align: center;
                top: 10px;

                .divider{
                    color: #979797;
                    display: inline-block;
                    height: 26px;
                    position: absolute;
                    top: 10px;
                    width: 1px;
                }

                div:nth-of-type(1){
                    left: 0;
                }

                div:nth-of-type(2){
                    right: 4px;
                }

                img{
                    height: 10px;
                    position: absolute;
                    right: 4px;
                    top: 0;
                }

                span{
                    color: #000000;
                    display: block;
                    font-size: 9px;
                    margin-bottom: -4px;
                    text-transform: uppercase;
                }

                span#balance{
                    color: #eb009d;
                    font-size: 17px;
                    font-weight: 900;
                }
            }

            button{
                background: linear-gradient(to right, #c252ac, #c352ac);
                background-repeat: no-repeat;
                background-size: contain;
                border: 1px solid #952d44;
                border-radius: 4px;
                color: #fff;
                cursor: pointer;
                display: inline-block;
                font-size: 11px;
                font-weight: bold;
                height: 33px;
                left: -120px;
                padding-left: 4px;
                position: absolute;
                text-align: left;
                text-transform: uppercase;
                top: 12px;
                width: 101px;
            }

            .login-container{
                background-color: #00669f;
                border-bottom-left-radius: 4px;
                border-bottom-right-radius: 4px;
                color: #fff;
                cursor: pointer;
                display: inline-block;
                font-size: 11px;
                font-weight: bold;
                height: 47px;
                margin-left: 20px;
                padding: 15px 40px;
                vertical-align: top;
                width: 202px;
            }
        }
    }

    .menu-header{
        background: linear-gradient(to right, #bd53ad, #0066a0);
        clear: both;
        height: 73px;
        text-align: center;

        ul{
            height: 100%;

            li{
                color: #fefefe;
                cursor: pointer;
                display: inline-block;
                height: 100%;
                padding-top: 15px;
                text-align: center;
                text-transform: uppercase;
                vertical-align: bottom;
                width: 12%;

                img{
                    display: block;
                    margin: 0 auto;
                }

                img:nth-of-type(2){
                    display: none;
                }

                span{
                    display: block;
                    font-size: 16px;
                    margin-top: 10px;
                }
            }
            li:hover{
                background-color: #7c437b;

                img:nth-of-type(2){
                    display: block;
                }
            }
        }        
    }
}

main{
    margin-top: 30px;
    padding-left: 40px;

    .left, .right{
        display: inline-block;
    }

    .left{
        margin-right: 30px;
        vertical-align: top;
        width: 422px;

        .invoices-container{
            display: block;
            border-bottom: 2px solid #00669f;
            margin-bottom: 27px;
            max-height: 272px;
            overflow-y: scroll;

            ::-webkit-scrollbar{
                border: 1px solid #b3b3b3;
                width: 9px;
            }

            .invoices-header{
                background-color: #0066a0;
                height: 35px;
                line-height: 35px;
                margin-bottom: 8px;
                padding-left: 15px;

                h3{
                    color: #fff;
                    display: inline-block;
                    font-size: 16px;
                    font-weight: 300;
                    text-transform: uppercase;
                    width: 40%;
                }

                span{
                    color: #fff;
                    font-size: 12px;
                }

                input{
                    border: 1px solid #b3b3b3;
                    border-radius: 2px;
                    height: 22px;
                    width: 79px;
                }

                input:nth-of-type(1){
                    margin-right: 10px;
                }
            }

            .invoices-content{

                table{
                    border-collapse: collapse;
                    text-align: left;
                    width: 100%;

                    tr{
                        height: 38px;

                        th{
                           padding-left: 10px; 
                        }

                        td{
                            padding-left: 10px;
                            font-weight: 300;
                        }

                        td:nth-of-type(2){
                            width: 27%;
                        }

                        td:nth-of-type(3){
                            padding-top: 5px;

                            img{
                                cursor: pointer;
                            }
                        }
                    }

                    tr:nth-of-type(2n+1){
                        background-color: #d3d4d7;
                    }

                    tr:nth-of-type(1){
                        background-color: #a1e0f5;
                        border-radius: 3px;
                        height: 38px;
                        text-transform: uppercase;

                        th:nth-of-type(1){
                            border-top-left-radius: 3px;
                            border-bottom-left-radius: 3px;
                            color: #000;
                            font-size: 16px;
                            font-weight: 600;
                            width: 50%;
                        }

                        th:nth-of-type(2){
                            color: #000;
                            font-size: 16px;
                            font-weight: 600;
                        }

                        th:nth-of-type(3){
                            border-top-right-radius: 3px;
                            border-bottom-right-radius: 3px;
                            
                        }
                    }                   
                }
            }
        }

        .payments-container{
            border-bottom: 2px solid #00669f;
            max-height: 272px;
            overflow-y: scroll;

            .payments-header{
                background-color: #0066a0;
                height: 35px;
                line-height: 35px;
                margin-bottom: 8px;
                padding-left: 15px;

                h3{
                    color: #fff;
                    display: inline-block;
                    font-size: 16px;
                    font-weight: 300;
                    text-transform: uppercase;
                    width: 40%;
                }

                span{
                    color: #fff;
                    font-size: 12px;
                }

                input{
                    border: 1px solid #b3b3b3;
                    border-radius: 2px;
                    height: 22px;
                    width: 79px;
                }

                input:nth-of-type(1){
                    margin-right: 10px;
                }
            }

            .payments-content{

                table{
                    border-collapse: collapse;
                    text-align: left;
                    width: 100%;

                    tr{
                        height: 38px;

                        th{
                           padding-left: 10px; 
                        }

                        td{
                            padding-left: 10px;
                            font-weight: 300;
                        }

                        td:nth-of-type(2){
                            width: 50%;
                        }
                    }

                    tr:nth-of-type(2n+1){
                        background-color: #d3d4d7;
                    }

                    tr:nth-of-type(1){
                        background-color: #a1e0f5;
                        border-radius: 3px;
                        height: 38px;
                        text-transform: uppercase;

                        th:nth-of-type(1){
                            border-top-left-radius: 3px;
                            border-bottom-left-radius: 3px;
                            color: #000;
                            font-size: 16px;
                            font-weight: 600;
                            width: 50%;
                        }

                        th:nth-of-type(2){
                            color: #000;
                            font-size: 16px;
                            font-weight: 600;
                        }

                        th:nth-of-type(3){
                            border-top-right-radius: 3px;
                            border-bottom-right-radius: 3px;
                            
                        }
                    }                   
                }
            }
        }
    }

    .right{
        width: 745px;

        .credit-container{
            width: 100%;

            h2{
                background-color: #0066a0;
                color: #fff;
                font-size: 16px;
                font-weight: 300;
                height: 35px;
                line-height: 35px;
                margin-bottom: 10px;
                padding-left: 30px;
                text-transform: uppercase;
            }

            .credit-content{
                background: linear-gradient(to bottom, #a1e0f5, #ffffff);
                height: 600px;
                padding-top: 100px;
                padding-left: 30px;
                position: relative;
                text-align: center;

                img{
                    right: 0;
                    position: absolute;
                    top: 0;
                    z-index: 1;
                }

                h3{
                    color: #00669f;
                    font-size: 17px;
                    font-weight: 300;
                    position: relative;
                    text-align: center;
                    text-transform: uppercase;
                    z-index: 2;
                }

                span{
                    color: #00669f;
                    font-size: 50px;
                    font-weight: 900;
                    margin: 0 auto;
                    position: relative;
                    z-index: 3;
                }

                input#agreement{
                    left: 190px;
                    position: absolute;
                    top: 425px;
                }

                label#agreement-label{
                    left: 210px;
                    position: absolute;
                    top: 420px;
                }

                button{
                    font-weight: 300;
                    position: absolute;
                    top: 80px;

                    img{
                        position: absolute;
                        right: 60px;
                        top: 5px;
                    }
                }

                .inputs{
                    margin-top: 80px;
                    margin-bottom: 40px;
                    position: relative;
                    z-index: 4;

                    label{
                        color: #000;
                        display: inline-block;
                        font-size: 15px;
                        font-weight: 300;
                    }

                    label:nth-of-type(1){
                        left: 155px;
                        position: absolute;
                    }

                    label:nth-of-type(2){
                        left: 480px;
                        position: absolute;
                    }

                    input:nth-of-type(1){
                        margin-right: 15px;
                    }

                    #top-up-balance{
                        border: 1px solid #b3b3b3;
                        border-radius: 4px;
                        color: #000;
                        font-size: 15px;
                        height: 38px;
                        padding-left: 10px;
                        width: 305px;
                    }

                    #currency{
                        border: 1px solid #b3b3b3;
                        border-radius: 4px;
                        color: #000;
                        font-size: 15px;
                        height: 38px;
                        padding-left: 10px;
                        width: 79px;
                    }
                }

                .cards{

                    input:nth-of-type(1){
                        left: 190px;
                        position: absolute;
                    }

                    label:nth-of-type(1){
                        left: 210px;
                        position: absolute;
                        top: 367px;
                    }

                    input:nth-of-type(2){
                        left: 290px;
                        position: absolute;
                    }

                    label:nth-of-type(2){
                        left: 310px;
                        position: absolute;
                        top: 367px;
                    }

                    input:nth-of-type(3){
                        left: 390px;
                        position: absolute;
                    }

                    label:nth-of-type(3){
                        left: 410px;
                        position: absolute;
                        top: 367px;
                    }
                }

                button{
                    background: linear-gradient(to right, #c252ac, #7c59a8);
                    border-radius: 8px;
                    color: #fff;
                    cursor: pointer;
                    font-size: 26px;
                    height: 63px;
                    position: relative;
                    text-transform: uppercase;
                    width: 405px;
                    z-index: 5;
                }
            }
        }
    }
}

footer{
    background-color: #0066a0;
    bottom: 0;
    height: 25px;
    padding-left: 80px;
    position: fixed;
    width: 100%;

    span{
        color: #fff;
        font-size: 9px;
    }
}

@media(max-width: 1250px){
    main{
        text-align: center;

        .left{
            margin-bottom: 27px !important;

            .invoices-container{
                
            }
        }

        .right{

            .credit-container{
                
            }
        }
    }

}

@media(max-width: 1067px){
    .menu-header{
        min-height: 180px;

        ul{
            height: 50% !important;

            li{
                height: 100% !important;
                width: 20% !important;
            }
        }
    }
}

@media(max-width: 719px){
    .top-header{
        height: 120px !important;
        padding-left: 5px !important;

        .logo-container{
            display: block !important;
        }

        .header-info{
            display: block !important;

            .balance-container{
                position: absolute !important;
                top: 70px !important;
            }

            button{
                position: absolute !important;
                top: 70px !important;
            }

            .login-container{
                left: -180px;
                position: absolute !important;
                width: 200px !important;
            }
        }
    }

    .menu-header{
        min-height: 220px !important;

        ul{
            height: 100% !important;

            li{
                height: 33% !important;
                margin-right: 10px !important;
                width: 25% !important;
            }
        }
    }
}