header
	.container-fluid
		.row.align-items-center.top-header
			.col-4.col-lg-5.col-xl-8.order-1.header__logo
				img(src="resources/dashboard/message_whiz_logo.png")
			.col.col-lg-2.col-xl-1.order-3.order-md-2.header__balance
				img(src="resources/dashboard/info_icon.png")
				//- span |
				p my balance
				p#header__balance__value $200.00
				//- span |
			.col.col-lg-2.col-xl-1.order-4.order-md-3.header__button
				button
					span add credit
					img(src="resources/dashboard/big_hand.png")
			.col-8.col-md-4.col-lg-3.col-xl-2.order-2.order-md-4.align-self-start.header__form
				div
					a(href="#") User Name
					span |
					a(href="#") Log Out
		.row.justify-content-around#bottom-header
			.col-12.col-md-auto
				//- div
				a(href="#")
					img(src="resources/dashboard/menu-dashboard.png", alt="")
					span dashboard
				img#triangle(src="resources/dashboard/menu_puple_triangle.png", alt="")
			.col-6.col-md-auto
				a(href="#")
					img(src="resources/dashboard/menu-send.png", alt="")
					span send campaign
				img#triangle(src="resources/dashboard/menu_puple_triangle.png", alt="")
			.col-6.col-md-auto
				a(href="#")
					img(src="resources/dashboard/menu_phone_book.png", alt="")
					span phone book
				img#triangle(src="resources/dashboard/menu_puple_triangle.png", alt="")
			.col-6.col-md-auto
				a(href="#")
					img(src="resources/dashboard/menu_workspace.png", alt="")
					span workspace
				img#triangle(src="resources/dashboard/menu_puple_triangle.png", alt="")
			.col-6.col-md-auto
				a(href="#")
					img(src="resources/dashboard/menu_statistics.png", alt="")
					span statistics
				img#triangle(src="resources/dashboard/menu_puple_triangle.png", alt="")
			.col-6.col-md-auto
				a(href="#")
					img(src="resources/dashboard/menu_billing.png", alt="")
					span billing
				img#triangle(src="resources/dashboard/menu_puple_triangle.png", alt="")
			.col-6.col-md-auto
				a(href="#")
					img(src="resources/dashboard/menu-account.png", alt="")
					span my account
				img#triangle(src="resources/dashboard/menu_puple_triangle.png", alt="")