@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/account-page\/account-page-style\.scss}line{font-family:\000031}}
* {
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/account-page\/account-page-style\.scss}line{font-family:\000039}}
a {
  text-decoration: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/account-page\/account-page-style\.scss}line{font-family:\0000313}}
li {
  list-style: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/account-page\/account-page-style\.scss}line{font-family:\0000319}}
header .top-header {
  background: #fff;
  height: 63px;
  padding: 0 60px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/account-page\/account-page-style\.scss}line{font-family:\0000324}}
  header .top-header .logo-container {
    display: inline-block;
    float: left; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/account-page\/account-page-style\.scss}line{font-family:\0000328}}
    header .top-header .logo-container img {
      height: 40px;
      margin-top: 13px;
      width: 86px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/account-page\/account-page-style\.scss}line{font-family:\0000335}}
  header .top-header .header-info {
    display: inline-block;
    float: right;
    position: relative; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/account-page\/account-page-style\.scss}line{font-family:\0000340}}
    header .top-header .header-info .balance-container {
      cursor: pointer;
      display: inline-block;
      left: -250px;
      padding: 7px 15px 0 15px;
      position: absolute;
      text-align: center;
      top: 10px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/account-page\/account-page-style\.scss}line{font-family:\0000349}}
      header .top-header .header-info .balance-container .divider {
        color: #979797;
        display: inline-block;
        height: 26px;
        position: absolute;
        top: 10px;
        width: 1px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/account-page\/account-page-style\.scss}line{font-family:\0000358}}
      header .top-header .header-info .balance-container div:nth-of-type(1) {
        left: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/account-page\/account-page-style\.scss}line{font-family:\0000362}}
      header .top-header .header-info .balance-container div:nth-of-type(2) {
        right: 4px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/account-page\/account-page-style\.scss}line{font-family:\0000366}}
      header .top-header .header-info .balance-container img {
        height: 10px;
        position: absolute;
        right: 4px;
        top: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/account-page\/account-page-style\.scss}line{font-family:\0000373}}
      header .top-header .header-info .balance-container span {
        color: #000000;
        display: block;
        font-size: 9px;
        margin-bottom: -4px;
        text-transform: uppercase; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/account-page\/account-page-style\.scss}line{font-family:\0000381}}
      header .top-header .header-info .balance-container span#balance {
        color: #eb009d;
        font-size: 17px;
        font-weight: 900; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/account-page\/account-page-style\.scss}line{font-family:\0000388}}
    header .top-header .header-info button {
      background: -webkit-gradient(linear, left top, right top, from(#c252ac), to(#c352ac));
      background: linear-gradient(to right, #c252ac, #c352ac);
      background-repeat: no-repeat;
      background-size: contain;
      border: 1px solid #952d44;
      border-radius: 4px;
      color: #fff;
      cursor: pointer;
      display: inline-block;
      font-size: 11px;
      font-weight: bold;
      height: 33px;
      left: -120px;
      padding-left: 4px;
      position: absolute;
      text-align: left;
      text-transform: uppercase;
      top: 12px;
      width: 101px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/account-page\/account-page-style\.scss}line{font-family:\00003110}}
    header .top-header .header-info .login-container {
      background-color: #00669f;
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
      color: #fff;
      display: inline-block;
      font-size: 11px;
      font-weight: bold;
      height: 47px;
      margin-left: 20px;
      padding: 15px 35px;
      vertical-align: top;
      width: 202px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/account-page\/account-page-style\.scss}line{font-family:\00003125}}
      header .top-header .header-info .login-container a {
        color: #fff;
        font-size: 11px;
        font-weight: bold; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/account-page\/account-page-style\.scss}line{font-family:\00003131}}
      header .top-header .header-info .login-container a:first-child {
        margin-right: 15px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/account-page\/account-page-style\.scss}line{font-family:\00003135}}
      header .top-header .header-info .login-container a:last-child {
        margin-left: 5px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/account-page\/account-page-style\.scss}line{font-family:\00003142}}
header .menu-header {
  background: -webkit-gradient(linear, left top, right top, from(#bd53ad), to(#0066a0));
  background: linear-gradient(to right, #bd53ad, #0066a0);
  clear: both;
  height: 73px;
  text-align: center; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/account-page\/account-page-style\.scss}line{font-family:\00003148}}
  header .menu-header ul {
    height: 100%; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/account-page\/account-page-style\.scss}line{font-family:\00003151}}
    header .menu-header ul li {
      color: #fefefe;
      cursor: pointer;
      display: inline-block;
      height: 100%;
      padding-top: 15px;
      text-align: center;
      text-transform: uppercase;
      vertical-align: bottom;
      width: 12%; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/account-page\/account-page-style\.scss}line{font-family:\00003162}}
      header .menu-header ul li img {
        display: block;
        margin: 0 auto; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/account-page\/account-page-style\.scss}line{font-family:\00003167}}
      header .menu-header ul li img:nth-of-type(2) {
        display: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/account-page\/account-page-style\.scss}line{font-family:\00003171}}
      header .menu-header ul li span {
        display: block;
        font-size: 16px;
        margin-top: 10px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/account-page\/account-page-style\.scss}line{font-family:\00003177}}
    header .menu-header ul li:hover {
      background-color: #7c437b; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/account-page\/account-page-style\.scss}line{font-family:\00003180}}
      header .menu-header ul li:hover img:nth-of-type(2) {
        display: block; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/account-page\/account-page-style\.scss}line{font-family:\00003188}}
main, .edit-container {
  background-color: #cae8f0;
  min-height: 285px;
  padding: 58px 0 0 50px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/account-page\/account-page-style\.scss}line{font-family:\00003194}}
  main .account-container, .edit-container .account-container {
    border-right: 1px solid #666666;
    display: inline-block;
    width: 240px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/account-page\/account-page-style\.scss}line{font-family:\00003199}}
    main .account-container h2, .edit-container .account-container h2 {
      color: #000000;
      font-size: 20px;
      font-weight: 300;
      margin-bottom: 28px;
      text-transform: uppercase; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/account-page\/account-page-style\.scss}line{font-family:\00003207}}
    main .account-container .photo-container, .edit-container .account-container .photo-container {
      margin-bottom: 10px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/account-page\/account-page-style\.scss}line{font-family:\00003212}}
  main .account-data, .edit-container .account-data {
    display: inline-block;
    padding-left: 5px;
    position: relative;
    vertical-align: top; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/account-page\/account-page-style\.scss}line{font-family:\00003218}}
    main .account-data .string1 div, main .account-data .string2 div, main .account-data .string3 div, .edit-container .account-data .string1 div, .edit-container .account-data .string2 div, .edit-container .account-data .string3 div {
      width: 400px;
      position: absolute; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/account-page\/account-page-style\.scss}line{font-family:\00003223}}
    main .account-data .string1 div:nth-of-type(1), main .account-data .string2 div:nth-of-type(1), main .account-data .string3 div:nth-of-type(1), .edit-container .account-data .string1 div:nth-of-type(1), .edit-container .account-data .string2 div:nth-of-type(1), .edit-container .account-data .string3 div:nth-of-type(1) {
      left: 5px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/account-page\/account-page-style\.scss}line{font-family:\00003227}}
    main .account-data .string1 div:nth-of-type(2), main .account-data .string2 div:nth-of-type(2), main .account-data .string3 div:nth-of-type(2), .edit-container .account-data .string1 div:nth-of-type(2), .edit-container .account-data .string2 div:nth-of-type(2), .edit-container .account-data .string3 div:nth-of-type(2) {
      left: 375px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/account-page\/account-page-style\.scss}line{font-family:\00003231}}
    main .account-data .string1 div:nth-of-type(3), main .account-data .string2 div:nth-of-type(3), main .account-data .string3 div:nth-of-type(3), .edit-container .account-data .string1 div:nth-of-type(3), .edit-container .account-data .string2 div:nth-of-type(3), .edit-container .account-data .string3 div:nth-of-type(3) {
      left: 775px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/account-page\/account-page-style\.scss}line{font-family:\00003235}}
    main .account-data .string1 div, .edit-container .account-data .string1 div {
      top: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/account-page\/account-page-style\.scss}line{font-family:\00003239}}
    main .account-data .string2 div, .edit-container .account-data .string2 div {
      top: 70px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/account-page\/account-page-style\.scss}line{font-family:\00003243}}
    main .account-data .string3 div, .edit-container .account-data .string3 div {
      top: 140px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/account-page\/account-page-style\.scss}line{font-family:\00003247}}
    main .account-data h2, .edit-container .account-data h2 {
      color: #0066af;
      font-size: 16px;
      font-weight: bold;
      text-transform: uppercase; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/account-page\/account-page-style\.scss}line{font-family:\00003254}}
    main .account-data span, .edit-container .account-data span {
      color: #000000;
      font-size: 16px;
      font-weight: 300; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/account-page\/account-page-style\.scss}line{font-family:\00003260}}
    main .account-data a, .edit-container .account-data a {
      color: #0172c0;
      display: block;
      margin-top: -6px;
      text-decoration: underline; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/account-page\/account-page-style\.scss}line{font-family:\00003269}}
    main .account-data .buttons button, .edit-container .account-data .buttons button {
      border-radius: 4px;
      cursor: pointer;
      font-size: 14px;
      height: 32px;
      padding-left: 10px;
      text-align: left;
      text-transform: uppercase; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/account-page\/account-page-style\.scss}line{font-family:\00003279}}
    main .account-data .buttons button:nth-of-type(1), .edit-container .account-data .buttons button:nth-of-type(1) {
      background-image: url("edit_account_idle.png");
      background-repeat: no-repeat;
      background-size: cover;
      color: #fff;
      margin-right: 16px;
      width: 103px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/account-page\/account-page-style\.scss}line{font-family:\00003288}}
    main .account-data .buttons button:nth-of-type(2), .edit-container .account-data .buttons button:nth-of-type(2) {
      background-image: url("add_subaccount_idle.png");
      background-size: cover;
      color: #fff;
      width: 183px; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/account-page\/account-page-style\.scss}line{font-family:\00003299}}
.edit-container {
  background: #fff;
  padding-top: 48px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/account-page\/account-page-style\.scss}line{font-family:\00003303}}
  .edit-container .vertical-line {
    border-right: 1px solid #666666;
    display: inline-block;
    height: 180px;
    width: 240px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/account-page\/account-page-style\.scss}line{font-family:\00003314}}
  .edit-container .account-data .buttons button:nth-of-type(1) {
    background-image: url("edit_subaccount_idle.png");
    background-position: right;
    background-size: cover;
    color: #50b278;
    margin-right: 16px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/account-page\/account-page-style\.scss}line{font-family:\00003322}}
  .edit-container .account-data .buttons button:nth-of-type(2) {
    background-image: url("delete_subaccount_idle.png");
    background-position: right;
    background-size: cover;
    color: #9d56aa;
    width: 103px; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/account-page\/account-page-style\.scss}line{font-family:\00003333}}
.line {
  background-color: #cccccc;
  height: 1px;
  margin: 0 60px 48px; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/account-page\/account-page-style\.scss}line{font-family:\00003339}}
footer {
  background-color: #0066a0;
  bottom: 0;
  height: 25px;
  padding-left: 80px;
  position: fixed;
  width: 100%; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/account-page\/account-page-style\.scss}line{font-family:\00003347}}
  footer span {
    color: #fff;
    font-size: 9px; }

@media (max-width: 1470px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/account-page\/account-page-style\.scss}line{font-family:\00003354}}
  main {
    padding: 58px 20px 0 30px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/account-page\/account-page-style\.scss}line{font-family:\00003357}}
    main .account-container {
      padding-right: 30px;
      width: auto; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/account-page\/account-page-style\.scss}line{font-family:\00003362}}
    main .account-data {
      margin-left: 20px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/account-page\/account-page-style\.scss}line{font-family:\00003365}}
      main .account-data .string1 div, main .account-data .string2 div, main .account-data .string3 div {
        width: 220px !important; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/account-page\/account-page-style\.scss}line{font-family:\00003369}}
      main .account-data .string3 div:nth-of-type(3) {
        width: 320px !important; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/account-page\/account-page-style\.scss}line{font-family:\00003373}}
      main .account-data .string1 div:nth-of-type(2), main .account-data .string2 div:nth-of-type(2), main .account-data .string3 div:nth-of-type(2) {
        left: 375px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/account-page\/account-page-style\.scss}line{font-family:\00003377}}
      main .account-data .string1 div:nth-of-type(3), main .account-data .string2 div:nth-of-type(3), main .account-data .string3 div:nth-of-type(3) {
        left: 750px; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/account-page\/account-page-style\.scss}line{font-family:\00003385}}
  .edit-container .vertical-line {
    width: 140px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/account-page\/account-page-style\.scss}line{font-family:\00003389}}
  .edit-container .account-data {
    margin-left: 20px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/account-page\/account-page-style\.scss}line{font-family:\00003392}}
    .edit-container .account-data .string1 div, .edit-container .account-data .string2 div, .edit-container .account-data .string3 div {
      width: 220px !important; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/account-page\/account-page-style\.scss}line{font-family:\00003396}}
    .edit-container .account-data .string3 div:nth-of-type(3) {
      width: 320px !important; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/account-page\/account-page-style\.scss}line{font-family:\00003400}}
    .edit-container .account-data .string1 div:nth-of-type(3), .edit-container .account-data .string2 div:nth-of-type(3), .edit-container .account-data .string3 div:nth-of-type(3) {
      left: 750px; } }
@media (max-width: 1280px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/account-page\/account-page-style\.scss}line{font-family:\00003408}}
  main {
    padding: 58px 30px 0 30px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/account-page\/account-page-style\.scss}line{font-family:\00003411}}
    main .account-container {
      padding-right: 30px;
      width: auto; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/account-page\/account-page-style\.scss}line{font-family:\00003416}}
    main .account-data {
      margin-left: 20px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/account-page\/account-page-style\.scss}line{font-family:\00003419}}
      main .account-data .string1 div, main .account-data .string2 div, main .account-data .string3 div {
        width: 220px !important; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/account-page\/account-page-style\.scss}line{font-family:\00003423}}
      main .account-data .string1 div:nth-of-type(2), main .account-data .string2 div:nth-of-type(2), main .account-data .string3 div:nth-of-type(2) {
        left: 250px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/account-page\/account-page-style\.scss}line{font-family:\00003427}}
      main .account-data .string1 div:nth-of-type(3), main .account-data .string2 div:nth-of-type(3), main .account-data .string3 div:nth-of-type(3) {
        left: 500px; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/account-page\/account-page-style\.scss}line{font-family:\00003435}}
  .edit-container .vertical-line {
    width: 140px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/account-page\/account-page-style\.scss}line{font-family:\00003439}}
  .edit-container .account-data {
    margin-left: 20px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/account-page\/account-page-style\.scss}line{font-family:\00003442}}
    .edit-container .account-data .string1 div, .edit-container .account-data .string2 div, .edit-container .account-data .string3 div {
      width: 220px !important; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/account-page\/account-page-style\.scss}line{font-family:\00003446}}
    .edit-container .account-data .string3 div:nth-of-type(3) {
      width: 320px !important; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/account-page\/account-page-style\.scss}line{font-family:\00003450}}
    .edit-container .account-data .string1 div:nth-of-type(2), .edit-container .account-data .string2 div:nth-of-type(2), .edit-container .account-data .string3 div:nth-of-type(2) {
      left: 250px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/account-page\/account-page-style\.scss}line{font-family:\00003454}}
    .edit-container .account-data .string1 div:nth-of-type(3), .edit-container .account-data .string2 div:nth-of-type(3), .edit-container .account-data .string3 div:nth-of-type(3) {
      left: 500px; } }
@media (max-width: 1067px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/account-page\/account-page-style\.scss}line{font-family:\00003463}}
  .menu-header {
    min-height: 180px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/account-page\/account-page-style\.scss}line{font-family:\00003466}}
    .menu-header ul {
      height: 50% !important; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/account-page\/account-page-style\.scss}line{font-family:\00003469}}
      .menu-header ul li {
        height: 100% !important;
        width: 20% !important; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/account-page\/account-page-style\.scss}line{font-family:\00003476}}
  main {
    height: 485px;
    padding: 58px 20px 0 20px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/account-page\/account-page-style\.scss}line{font-family:\00003480}}
    main .account-container {
      padding-right: 20px;
      width: auto; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/account-page\/account-page-style\.scss}line{font-family:\00003485}}
    main .account-data {
      margin-left: 20px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/account-page\/account-page-style\.scss}line{font-family:\00003488}}
      main .account-data .string1 div, main .account-data .string2 div, main .account-data .string3 div {
        width: 200px !important; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/account-page\/account-page-style\.scss}line{font-family:\00003492}}
      main .account-data .string1 div:nth-of-type(3) {
        left: 0;
        top: 215px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/account-page\/account-page-style\.scss}line{font-family:\00003497}}
      main .account-data .string2 div:nth-of-type(3) {
        left: 250px;
        top: 215px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/account-page\/account-page-style\.scss}line{font-family:\00003502}}
      main .account-data .string3 div:nth-of-type(3) {
        left: 75px;
        top: 320px; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/account-page\/account-page-style\.scss}line{font-family:\00003509}}
  .edit-container {
    height: 400px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/account-page\/account-page-style\.scss}line{font-family:\00003512}}
    .edit-container .vertical-line {
      width: 120px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/account-page\/account-page-style\.scss}line{font-family:\00003516}}
    .edit-container .account-data {
      margin-left: 20px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/account-page\/account-page-style\.scss}line{font-family:\00003519}}
      .edit-container .account-data .string1 div, .edit-container .account-data .string2 div, .edit-container .account-data .string3 div {
        width: 220px !important; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/account-page\/account-page-style\.scss}line{font-family:\00003523}}
      .edit-container .account-data .string3 div:nth-of-type(3) {
        width: 320px !important; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/account-page\/account-page-style\.scss}line{font-family:\00003527}}
      .edit-container .account-data .string1 div:nth-of-type(2), .edit-container .account-data .string2 div:nth-of-type(2), .edit-container .account-data .string3 div:nth-of-type(2) {
        left: 250px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/account-page\/account-page-style\.scss}line{font-family:\00003531}}
      .edit-container .account-data .string1 div:nth-of-type(3) {
        left: 5px;
        top: 220px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/account-page\/account-page-style\.scss}line{font-family:\00003536}}
      .edit-container .account-data .string2 div:nth-of-type(3) {
        left: 250px;
        top: 220px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/account-page\/account-page-style\.scss}line{font-family:\00003541}}
      .edit-container .account-data .string3 div:nth-of-type(3) {
        left: 80px;
        top: 300px; } }
@media (max-width: 719px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/account-page\/account-page-style\.scss}line{font-family:\00003552}}
  .top-header {
    height: 120px !important;
    padding-left: 5px !important; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/account-page\/account-page-style\.scss}line{font-family:\00003556}}
    .top-header .logo-container {
      display: block !important; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/account-page\/account-page-style\.scss}line{font-family:\00003560}}
    .top-header .header-info {
      display: block !important; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/account-page\/account-page-style\.scss}line{font-family:\00003563}}
      .top-header .header-info .balance-container {
        position: absolute !important;
        top: 70px !important; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/account-page\/account-page-style\.scss}line{font-family:\00003568}}
      .top-header .header-info button {
        position: absolute !important;
        top: 70px !important; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/account-page\/account-page-style\.scss}line{font-family:\00003573}}
      .top-header .header-info .login-container {
        left: -180px;
        position: absolute !important;
        width: 200px !important; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/account-page\/account-page-style\.scss}line{font-family:\00003581}}
  .menu-header {
    min-height: 220px !important; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/account-page\/account-page-style\.scss}line{font-family:\00003584}}
    .menu-header ul {
      height: 100% !important; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/dev\/mmdsmart\/MMDSmart\/account-page\/account-page-style\.scss}line{font-family:\00003587}}
      .menu-header ul li {
        height: 33% !important;
        margin-right: 10px !important;
        width: 25% !important; } }
